#main
	overflow-x hidden

	& .inputRow
		flex(row)
		margin 5px 0
			
		& label
			min-width optionsLabelMinimumWidth
		
		& input
			flex-grow 1
	
	& .app
		flex(column)
		width 90%
		margin 0 auto
		padding-top 15px
		
		& .row
			flex(row)
		
			& button
				flex-grow 1
				height 40px
				margin-right 10px
				
				&:last-child
					margin-right 0
		
		& .video
			margin-bottom 10px
			
			& input
				padding 0 5px
			
			& #showOptions
				flex(column)
				justify-content center
				height 41px
				margin-left 10px
				z-index 100
