#main .app #downloads
	flex(column)
	
	& .download
		flex(column)
		align-items center
		border 1px solid backgroundLight
		border-radius 5px
		justify-content space-evenly
		margin 10px 0
		padding 10px
		
		& > *
			margin 5px 0
		
		& > *:first-child
			margin-top 0
		
		& > *:last-child
			margin-bottom 0
		
		& .progress
			flex(column)
			align-items center
			justify-content space-evenly
			width 100%
			
			& > *
				margin 2px 0
				
			& > *:first-child
				margin-top 0
			
			& > *:last-child
				margin-bottom 0
			
			& .progressDetails
				flex(row)
				align-items center
				justify-content space-evenly
				width 100%
			
			& progress
				width 100%
		
		& .haltResumeButton
			width 50%
