#main .app #downloads
	flex(column)
	padding-bottom 25px
	
	& .download
		flex(column)
		align-items center
		background-color backgroundContrast
		border 1px solid backgroundBorder
		border-radius 5px
		justify-content space-evenly
		margin 10px 0
		padding 10px
		
		& > *
			margin 5px 0
		
		& > *:first-child
			margin-top 0
		
		& > *:last-child
			margin-bottom 0
		
		& .progress
			flex(column)
			align-items center
			justify-content space-evenly
			width 100%
			
			& > *
				margin 2px 0
				
			& > *:first-child
				margin-top 0
			
			& > *:last-child
				margin-bottom 0
			
			& .progressDetails
				flex(row)
				align-items center
				justify-content space-evenly
				width 100%
			
			& progress
				width 100%
		
		& .buttonRow
			flex(row)
			align-items center
			justify-content space-between
			width 100%
			
			& .haltResumeButton
				min-width 250px
				
				&.centerMe
					margin 0 auto
			
			& .removeButton
				min-width 175px
			
			& pre
				display none
