#main .app #downloads
	flex(column)
	
	& .download
		flex(column)
		border 1px solid backgroundLight
		border-radius 5px
		margin 10px 0
		
		& .progress
			flex(column)
			align-items center
			
			& progress
				width 98%
