white = #FFF
offWhite = #A9ABB0
backgroundColor = #161923
backgroundContrast = #282D3F
backgroundBorder = #5E657D

greenHighlight = #0DA40D
orangeHighlight = #FF753A
orangeBorder = #AC5E3A

progressForeground = greenHighlight
progressBackground = offWhite

optionsLabelMinimumWidth = 155px

flex(dir)
	display flex
	flex-direction dir
