white = #FFF
offWhite = #A9ABB0
backgroundDark = #161923
backgroundDarkShadow = #1B1E28
backgroundLight = #282D3F

progressBar = green
progressBackground = offWhite

optionsLabelMinimumWidth = 155px

flex(dir)
	display flex
	flex-direction dir
