#main .optionsOverlay
	background-color backgroundColor
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	
	& .options
		left 10%
		padding-bottom 25px
		position relative
		top 50px
		width 80%
		
		& h1
			margin-bottom 10px
		
		& .toggleButtonLabel, & .labelInputLabel
			margin-right 10px
			text-align right
