#main .optionsOverlay
	position fixed
	left 0
	top 0
	width 100%
	height 100%
	background-color backgroundDark
	
	& .options
		position fixed
		left 10%
		top 50px
		width 80%
		
		& h1
			margin-bottom 10px
